.Table-subdivisions {
  display: flex;
  gap: 5px;
  & > span {
    display: inline-block;
    width: 50px;
    text-decoration: underline;
  }

  button {
    width: 25px;
    height: 25px;
    background: rgba(73, 197, 169, 0.9) !important;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}